<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SistemaPlanillaEntities" connectionString="metadata=res://*/ModeloPlanilla.csdl|res://*/ModeloPlanilla.ssdl|res://*/ModeloPlanilla.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VU8COCET;initial catalog=SistemaPlanilla;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>